{{ define "main" }}
<div class="splash-container" onclick="window.location.href='/';">
    <div class="splash">
        <h1>Page not found<span class="fancy">.</span></h1>
        <span class="handle">Click anywhere to visit home page.</span>
        <h2>Don't panic, everything will be okay ;)</h2>
    </div>
</div>
{{ end }}
