{{ define "main" }}
<div class="splash-container">
  <div class="splash">
    <h1>欢迎来访，<br class="mobile-only">请多指教<span class="fancy">。</span></h1>
    <span class="handle">@李皓奇</span>
    <h2>岂有文章倾社稷，<br class="mobile-only">从来佞幸覆乾坤。</h2>
    {{ partial "social-icons.html" . }}
    {{ partial "translations.html" . }}
  </div>
</div>
{{ end }}
