{{ define "main" }}
<div class="splash-container">
  <div class="splash">
    <h1>Hi, there<span class="fancy">.</span></h1>
    <span class="handle">@liolok</span>
    <h2>I am not a cat,&nbsp;<br class="mobile-only">how disappointing :(</h2>
    {{ partial "social-icons.html" . }}
    {{ partial "translations.html" . }}
  </div>
</div>
{{ end }}
