<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:description" content="{% if page.lang == "zh-Hans" %}李皓奇{% else %}liolok{% endif %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="manifest" href="{% if page.lang == "zh-Hans" %}/zhs{% endif %}/manifest.json">
{% seo %}
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
{% if page.katex %}
{%- comment -%}
https://katex.org/docs/browser.html
https://cdnjs.com/libraries/KaTeX
{%- endcomment -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.css" integrity="sha512-07YhC3P4/vS5HdgGuNAAeIxb5ee//efgRNo5AGdMtqFBUPYOdQG/sDK0Nl5qNq94kdEk/Pvu8pmN4GYUeucUkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.js" integrity="sha512-aMDiFsrEV3KzAn9EHwyBRS7y1APjZWt/Z/73ukLN2Ca2KcGGzlOQFQSnfOdnEcehpwMaQ8edlDB/0cMX2GsHbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/contrib/auto-render.min.js" integrity="sha512-ZA/RPrAo88DlwRnnoNVqKINnQNcWERzRK03PDaA4GIJiVZvGFIWQbdWCsUebMZfkWohnfngsDjXzU6PokO4jGw==" crossorigin="anonymous" referrerpolicy="no-referrer" onload="renderMathInElement(document.body);"></script>
{% endif %}
<link href="{% if page.lang == "zh-Hans" %}/zhs{% endif %}/atom.xml" type="application/atom+xml" rel="alternate">
</head>
<body>
<div class="container-lg px-3 my-5 markdown-body">
<h1><code><a title="Home Page" href="/">cd ~</a>{,<a title="首页" href="/zhs/">/zhs/</a>}</code></h1>
{{ content }}
{% unless page.no_comment %} {%- comment -%} https://giscus.app {%- endcomment -%}
<script src="https://giscus.app/client.js"
data-repo="liolok/liolok.com"
data-repo-id="MDEwOlJlcG9zaXRvcnkzNzI2MTE5MDM="
data-category-id="DIC_kwDOFjWbP84B-Sa1"
data-mapping="og:title"
data-theme="light"
crossorigin="anonymous"
async>
</script>
{% endunless %}
<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
© 2018 - 2021 {% if page.lang == "zh-Hans" %}李皓奇{% else %}liolok{% endif %}
<a href="https://creativecommons.org/licenses/by-nc/4.0/{% if page.lang == "zh-Hans" %}deed.zh{% endif %}"
title="{% if page.lang == "zh-Hans" %}署名-非商业性使用 4.0 国际{% else %}Attribution-NonCommercial 4.0 International{% endif %}"
target="_blank">CC BY-NC 4.0</a><br>
<a href="{% if page.lang == "zh-Hans" %}/zhs{% endif %}/atom.xml" target="_blank">RSS Feed</a>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.1/anchor.min.js" integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
<script>anchors.add();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.1.0/quicklink.umd.js" integrity="sha256-KK3rvmDcW72MSl9jzzNZWlQjZNrRzAuGhAQ+0SFOg7Q=" crossorigin="anonymous"></script>
<script>window.addEventListener('load', () => { quicklink.listen({ ignores: [ uri => uri.includes('#')] }); });</script>
</body>
</html>
