<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="manifest" href="{% if page.lang == "zh-Hans" %}/zhs{% endif %}/manifest.json">
{% seo %}
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
{% if page.katex %} {%- comment -%} https://katex.org/docs/browser.html {%- endcomment -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
{% endif %}
<link href="{% if page.lang == "zh-Hans" %}/zhs{% endif %}/atom.xml" type="application/atom+xml" rel="alternate">
</head>
<body>
<div class="container-lg px-3 my-5 markdown-body">
<h1><code><a title="Home Page" href="/">cd ~</a>{,<a title="首页" href="/zhs/">/zhs/</a>}</code></h1>
{{ content }}
<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
© 2018 - 2020 {% if page.lang == "zh-Hans" %}李皓奇{% else %}liolok{% endif %}
<a href="https://creativecommons.org/licenses/by-nc/4.0/{% if page.lang == "zh-Hans" %}deed.zh{% endif %}"
title="{% if page.lang == "zh-Hans" %}署名-非商业性使用 4.0 国际{% else %}Attribution-NonCommercial 4.0 International{% endif %}"
target="_blank">CC BY-NC 4.0</a><br>
<a href="{% if page.lang == "zh-Hans" %}/zhs{% endif %}/atom.xml" target="_blank">RSS Feed</a>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.1/anchor.min.js" integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
<script>anchors.add();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.1.0/quicklink.umd.js" integrity="sha256-KK3rvmDcW72MSl9jzzNZWlQjZNrRzAuGhAQ+0SFOg7Q=" crossorigin="anonymous"></script>
<script>window.addEventListener('load', () => { quicklink.listen({ ignores: [ uri => uri.includes('#')] }); });</script>
</body>
</html>
